
a:link, a:active, a:visited  { color: #00bfff; font-weight: 800; font-size: 13px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: none; word-spacing: 8px; letter-spacing: 1px }
a:hover  { color: #ffd700; font-weight: 800; font-size: 13px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; text-decoration: underline; word-spacing: 8px; letter-spacing: 1px }
.body               { color: #f0f8ff; font-weight: normal; font-size: 13px; line-height: 16px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular; word-spacing: 2px; letter-spacing: 1px }
.tinytext     { color: #f5f5f5; font-weight: 800; font-size: 9px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }
.reallytinytext   { color: #f5f5f5; font-weight: bold; font-size: 10px; font-family: Arial, Helvetica, Geneva, Swiss, SunSans-Regular }



table.portraitTable {
    width: 640px;
    font-family: arial, helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 14px;
}
table.portraitTable tr.heading th {
    font-weight: normal;
}
table.portraitTable td.price {
    font-weight: bold;
    font-size: 15px;
}
table.portraitTable th em {
    font-weight: normal;
}
strong.appointment {
    font-size: 24px;
    font-weight: bold;
    line-height: 1.4;
    padding: 10px 60px;
    color: #fc0;
}
