<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>

	<head>
		<meta http-equiv="content-type" content="text/html;charset=ISO-8859-1">
		<title></title>
		<link href="../fairytale.css" rel="stylesheet" media="screen">
	</head>

	<body bgcolor="black" text="white">
		<div align="center">
			<p><font color="#f0f8ff"><a href="../html/wedding/wedding.html">Wedding home</a> &#149; <a href="../html/wedding/weddingpackages.html">Packages</a> &#149; <a href="../html/wedding/wedding-reprint.html">Reprints &amp; Enlargements</a> &#149; <a href="../html/wedding/wedding-gallery.html">Gallery</a> &#149; <a href="../html/wedding/wedding-t-and-c.html">Terms &amp; conditions</a></font></p>
		</div>
	</body>

</html>